# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*.csv
data/processed/*.csv
*.db

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Models
*.pkl
*.joblib
models/*.h5

# Results
results/*.png
results/*.csv
